.instruction {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    border-radius: 1.2rem;
    overflow: hidden;
    margin: 10px 0px 10px 0px;
}
.instruction h2{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1.2rem 1.2rem 0.5rem 1.2rem;
}
.instruction p{
    margin: 0.5rem 1.2rem 1.2rem 1.2rem;
}
 .instruction ul{
    margin: 0 1.2rem 1.2rem 1.2rem;
}
