.indicator {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #dde1e6;
    margin-bottom: 10px;
    .name {
        width: 20%;
    }
    .scale_container {
        width: 80%;
        border-left: 2px solid #dde1e6;
        margin-left: 10px;
        display: block;
        .item {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            border-bottom: 2px solid #dde1e6;
            padding: 5px 0;
        }
        .item > input[type="radio"]:checked + i {
            background-image: var(--svg_radio_checked);
        }
        .item > input[type="radio"] + i {
            background-image: var(--svg_radio);
            background-size: 18px;
            background-repeat: no-repeat;
            background-position: 9px center;
            border-style: none;
            border-color: transparent;
            background-color: transparent;
            padding: 16px 16px;
        }
        .item > input[type="radio"] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }
    }
}