.wiget {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #dde1e6;
    margin: 5px 0;
    .header {
        display: flex;
        flex-direction: row;
        color: #262d30;
        font-weight: bold;
        border-radius: 10px;
        overflow: hidden;
        padding: 10px 15px;
        margin: 10px;
        .left {
            width: 80%;
        }
        .right {
            width: 20%;
        }
    }
    .content {
        background-color: #ffffff;
        padding: 10px 15px;
        .desc {
            font-style: italic;
            font-size: 14px;
            border-bottom: 2px solid #dde1e6;
            margin-bottom: 10px;
        }
        .scale_container {
            display: flex;
            flex-direction: row;
            .left {
                display: block;
                width: 80%;
                .item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: nowrap;
                    .competence_desc {
                        width: 92%;
                        border-bottom: 2px solid #dde1e6;
                        margin-bottom: 10px;
                    }
                }
                .item > input[type="radio"]:checked + i {
                    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Radio-Button-Selected'%3E%3Cpath id='Outline' d='M17 9C17 13.4183 13.4183 17 9 17C4.58172 17 1 13.4183 1 9C1 4.58172 4.58172 1 9 1C13.4183 1 17 4.58172 17 9Z' fill='white' stroke='%23949300' stroke-width='2'/%3E%3Cpath id='Dot' fill-rule='evenodd' clip-rule='evenodd' d='M9 13C11.2091 13 13 11.2091 13 9C13 6.79086 11.2091 5 9 5C6.79086 5 5 6.79086 5 9C5 11.2091 6.79086 13 9 13Z' fill='%23949300'/%3E%3C/g%3E%3C/svg%3E");
                }
                .item > input[type="radio"] + i {
                    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Radio - Unselected'%3E%3Cpath id='Outline' d='M17 9C17 13.4183 13.4183 17 9 17C4.58172 17 1 13.4183 1 9C1 4.58172 4.58172 1 9 1C13.4183 1 17 4.58172 17 9Z' fill='white' stroke='%23333333' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
                    background-size: 18px;
                    background-repeat: no-repeat;
                    background-position: 9px center;
                    border-style: none;
                    border-color: transparent;
                    background-color: transparent;
                    padding: 16px 16px;
                }
                .item > input[type="radio"] {
                    position: absolute;
                    opacity: 0;
                    width: 0;
                    height: 0;
                }
            }
           
            .right{
                width: 20%;
            }
            .right > textarea {
                width: 100%;
                height: 150px;
                resize: none;
            }
        }
    }
}