:root {
    /* base */
    --color-base-100: #878D96;
    --Base-White:#fff;
      /* Base-Grey */
      --Base-Grey-80: #343A3F;
      --Base-Grey-90: #21272A;
      --color-dark-100: #808080;
      --color-dark-300: #4c4c4c;
      --color-dark-500: #333;
      --color-dark-900: #000;
      --Base-Transparent-Black-15:#00000026;

   /* success */
    --color-success-100: #24A148;
   
     /* danger */
    --color-danger-100: #ff8099;
    --color-danger-300: #f23d61;
    --color-danger-500: #cc1439;
    --color-danger-700: #990f2b;
    --color-danger-900: #660a1d;
   
     /* warning */
    --color-warning-100: #ffd073;
    
     /* info */
    --color-info-100: #1192E8;

   
     /* light */
    --color-light-100: #fff;
  }