.wiget {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    width: 90%;
    background-color: white;
    .grid {
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: stretch;
        .wfState {
            padding: 10px;
            .wfDefault {
                border-top: 4px solid;
                border-radius: 4px;
                border-color: #dde1e6;
            }
            .pass {
                border-color: #21272a;
            }
            .curr {
                border-color: #42be65;
            }
        }
        .expert {
            background-color: #21272a;
            color: #c2c4c5;
            padding: 10px;
        }
        .expertNull {
            background-color: #21272a;
        }
    }
}
.wiget p {
    margin-left: 15px;
    font-size: 20px;
}