.numParamWidget {
    width: auto;
    height: auto;
    min-width: 180px;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px 10px 10px 0;
    display: block;
    padding: 10px;
    .title {
        font-weight: bold;
    }
    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        .val {
            font-weight: bold;
            font-size: xx-large;
            margin: 0 5px;
        }
        .desc {
            display: block;
            .descTitle {
                font-weight: bold;
            }
        }

    }
}
.white {
    background-color: white;
}
.blue {
    background-color: #bae6ff;
}
.yellow {
    background-color: #ffea9d;
}
.pink {
    background-color: #ffd7d9;
}
.green {
    background-color: #a7f0ba;
}
.right {
    justify-content: right;
}

.diamond {
    background-image: var(--svg_diamond);
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center;
}
.star {
    background-image: var(--svg_star);
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center;
}