.comments {
    display: block;
    background-color:#ffb3b8;
    width: 90%;
    border-radius: 1.2rem;
    overflow: hidden;
    margin: 10px 0px 10px 0px;
    .header {
        display: flex;
        flex-direction: row;
        font-weight: bold;
        margin: 10px 0 0 10px;
        .dialogIcon {
            background-image: var(--svg_dialog_icon);
            width: 24px;
            height: 24px;
            background-size: 24px 24px;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 0 10px 0 0;
        }
    }
    .commentGrid {
        display: grid;
        grid-template-columns: 100px 300px auto;
        align-items: stretch;
        padding: 10px;
        .user {
            display: block;
            padding-right: 10px;
            border-top: 1px solid #da8187;
            .position {
                font-style: italic;
            }
        }
        .date {
            padding-right: 10px;
            font-weight: bold;
            flex-wrap: wrap;
            max-width: 100px;
            border-top: 1px solid #da8187;
        }
        .content {
            display: block;
            border-top: 1px solid #da8187;
            .wfState {
                font-weight: bold;
            }
        }
    }
}
.instruction {
    display: flex;
    flex-direction: row;
    background-color: #ffea9d;
    color: #22272b;
    width: 90%;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px 0 0 0;
    cursor: default;
    .info_icon {
        background-image: var(--svg_info_icon);
        width: 26px;
        height: 26px;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 10px;
    }
}