.question {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #dde1e6;
    margin: 5px 0;
    .header {
        color: #262d30;
        font-weight: bold;
        border-radius: 10px;
        overflow: hidden;
        padding: 10px 15px;
        margin: 10px;
    }
    .content {
        background-color: #ffffff;
        padding: 10px 15px;
        .scale_container {
            display: block;
            .item {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: nowrap;
                border-bottom: 2px solid #dde1e6;
                margin: 5px 0;
                .desc {
                    width: 100%;
                }
            }
            .item>input[type="radio"]:checked+i {
                background-image: var(--svg_radio_checked);
            }
            .item>input[type="radio"]+i {
                background-image: var(--svg_radio);
                background-size: 18px;
                background-repeat: no-repeat;
                background-position: 9px center;
                border-style: none;
                border-color: transparent;
                background-color: transparent;
                padding: 16px 16px;
            }
            .item>input[type="radio"] {
                position: absolute;
                opacity: 0;
                width: 0;
                height: 0;
            }
        }
    }
}